div.PostForm {
    height: 300px;
    width: 500px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F7DBF0;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
div.Close {
    display: flex;
    justify-content: flex-end;
}
div.FormContent {
    display: flex;
    flex-direction: column;
    text-align: center;

}

input {
    margin: 10px 30px 10px 30px;
}
button.Submit {
    margin: 25px 170px 25px 170px;

}
button {
	box-shadow:inset 1px 0px 12px -4px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color: #BEAEE2;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
button:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
button:active {
	position:relative;
	top:1px;
}
input {
    border-radius: 5px;
    padding: 3px;
}
textarea.Thought {
    margin: 10px 30px 10px 30px;
    border-radius: 5px;
}


   